<div class="menu">
<h1 class = >Welcome to Chirpus Pizza</h1>
<table class = >
  <tr>
    <th>Item</th>
    <th>Category</th>
    <th>Price</th>
    <th>Vegetarian?</th>
    <th></th>
  </tr>
  @for(item of allItems; track $index){

    <tr [ngClass]="{'soldOut': item.soldOut}">
      <!-- @if(item.soldOut){
        <td >{{item.name}}</td>
      } -->
      <td >{{item.name}}</td>
      <td>{{item.category}}</td>
      <td>${{item.price}}</td>
      @if(item.vegetarian){
        <td>Veg</td>
      }
      @else {
        <td></td>
      }
      <td><button [disabled]="item.soldOut" (click)="addToOrder(item.price)">Add To Order</button></td>
    </tr>
  }


</table>
<h2>Total Order: ${{total}}</h2>
</div>